
<aside class="aside-md bg-light dker b-r" ng-class="{'hide': !mostrarListaRoles}" id="subNav">
    <section id="panelRolesTaxonomia" class="vbox">
        <section class="w-f scrollable">
            <div slimscroll="{size: '10px', height: 'auto', railVisible: true, alwaysVisible: true, distance: '0px', railOpacity: 0.2}" slimscrolllistento="resize::resize">

                <div class="bg-primary header header-md navbar navbar-fixed-top-xs box-shadow dk" ng-if="enEditorXBRL">
                    <a ng-click="consultaListadoEnviosInfFinacieraXbrl()" class="navbar-brand">
                        <img id="abaxlarge" src="Images/logo_cnbv.png" ng-show="!navegacionXS">
                    </a>
                </div>
                <div class="wrapper b-b header">{{'EDITOR_XBRL_TITULO_EDITOR' | translate}}</div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="b-b" ng-class="{'active':esFormatoActivo($index)}" ng-repeat="rol in documentoInstancia.Taxonomia.RolesPresentacion" ng-if="!rol.OcultarRol">
                        <a class="navegacionFormatos" data-toggle="pill" ng-click="establecerFormatoActivo($index)">
                            <i class="fa fa-chevron-right pull-right m-t-xs text-xs"></i>
                            {{rol.Nombre}}
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</aside>
<aside>
    <section class="vbox">
        <div id="clipboard-container" style="position: fixed; left: 0px; top: 0px; width: 0px; height:0px; z-index: 100; display: block; opacity:0;"></div>
        <header class="header bg-white b-b clearfix">
            <div class="row m-t-sm">
                <div class="col-sm-8 m-b-sm">
                    <div id="panelToolbar" class="btn-toolbar">
                        <div class="input-group">
                            <a ng-click="actualizarMostrarListaRoles()" class="btn btn-warning active"><i class="fa fa-caret-right text fa-lg"></i><i class="fa fa-caret-left text-active fa-lg"></i></a>
                        </div>
                        
                        <div class="input-group">
                            <button type="button" class="btn btn-default" title="{{'EDITOR_XBRL_AYUDA'|translate}}" ng-click="inicializarOpcionesIntro();presentarIntro();"><i class="fa fa-question"></i></button>
                            
                            <button id="btnExportarDocumentoInstancia" type="button" title="{{'EDITOR_XBRL_EXPORTAR_DOCUMENTO_INSTANCIA'|translate}}" class="btn btn-default" ng-click="exportarDocumentoInstancia()" ng-disabled="documentoInstancia.EsComparadorDocumento  && documentoInstancia.EsComparadorDocumento == true"><i class="i i-download3"></i></button>
                            <button id="btnAgregarDocumentoComparar" type="button" title="Agregar un Documento a Comparar" class="btn btn-default" ng-click="presentarDocumentosParaComparar()" ng-disabled="documentoInstancia.EsComparadorDocumento  && documentoInstancia.EsComparadorDocumento == true"><i class="fa fa-exchange"></i></button>

                            <button id="btnExpandirVista" type="button" class="btn" title="Expandir" ng-class="{'modoVistaExpandido' : documentoInstancia.modoVistaFormato == 'formatoExpandido', 'modoVistaNormal btn-default' : documentoInstancia.modoVistaFormato == 'formato'}" ng-click="expandirEditor()"><i class="fa fa-expand"></i></button>
                            <button id="btnPantallaCompleta" type="button" class="btn modoVistaNormal btn-default" title="Pantalla completa" ng-click="mostrarPantallaCompletaDocumento()"><i class="i i-screen"></i></button>

                            <button id="btnAgrandarFuente" type="button" class="btn btn-default" title="{{'AGRANDAR_FUENTE'|translate}}" ng-click="agrandarFuente()"><i class="fa fa-font"></i></button>
                            <button id="btnEncogerFuente" type="button" class="btn btn-default" title="{{'ENCOGER_FUENTE'|translate}}" ng-click="encogerFuente()"><i class="fa fa-font" style="font-size:10px;"></i></button>
                        </div>
                        <div id="btnCambiarIdiomaEtiquetas" class="dropdown" style="margin-left:5px;display:inline;">
                            <button type="button" class="btn btn-default" title="Idioma" data-toggle="dropdown"><i class="i i-world"></i><span class="caret"></span></button>
                            <ul class="dropdown-menu" style="z-index:1001;">
                                <li ng-repeat="idioma in documentoInstancia.Taxonomia.IdiomasTaxonomiaObjeto" ng-click="cambiarIdiomaDocumentoInstancia($index)"><a href="javascript:void(0);">{{idioma.DescripcionIdioma}}</a></li>
                            </ul>
                        </div>
                        <div id="btnPresentarCantidadMonetario" class="dropdown" style="margin-left:5px;display:inline;">
                            <button type="button" class="btn btn-default" title="Formato" data-toggle="dropdown">
                                <i class="fa fa-sort-amount-desc"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" style="z-index:1001;">
                                <li ng-click="cambiarPresentacionDatoMonetario(1)">
                                    <a href="javascript:void(0);">{{ 'UNIDADES' | translate}}</a>
                                </li>
                                <li ng-click="cambiarPresentacionDatoMonetario(1000)">
                                    <a href="javascript:void(0);">{{ 'MILES' | translate}}</a>
                                </li>


                            </ul>
                        </div>

                        <button id="btnRegresarDocumentoInstancia" type="button" style="background-color:#18AFA4" class="btn btn-default" title="{{'REGRESAR_DOCUMENTO_INSTANCIA'|translate}}" ng-click="regresarDocumentoInstancia()" ng-show="documentoInstancia.EsComparadorDocumento && documentoInstancia.EsComparadorDocumento == true"><i class="fa fa-undo" style="color:#fff"></i></button>

                        
                    </div>
                </div>
                <div class="col-sm-3 m-b-sm">
                    <div class="input-group" id="filtroEtiquetas">
                        <input id="filtroTabla" type="text" class="form-control" placeholder="{{'PLACE_HOLDER_BUSCAR' | translate}}" ng-model="rolFormatoActivo.FiltroBusqueda">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">{{'EDITOR_XBRL_IR' | translate}}</button>
                            <input id="auxMonedas" class="acurrency" type="hidden" />
                        </span>
                    </div>
                </div>
            </div>
        </header>
        <section id="splashInterno" class="scrollable wrapper w-f splash" style="display:none;">
            <span class="helper"></span><img id="logoAnimado" src="Images/logo_cnbv_loading.png" class="animated infinite flip" />
        </section>
        <section id="contenedorFormatos" class="scrollable wrapper w-f" ng-hide="(panelActivo != PanelFormatos)" ng-intro-options="opcionesIntro" ng-intro-method="presentarIntro">
            <div id="encabezadoFormato"></div>
            <xbrl:editor-formato xbrl:rol="rolFormatoActivo" xbrl:documento-solo-visor="true" xbrl:recargar-formato="recargarFormato"></xbrl:editor-formato>
        </section>
        <section class="scrollable wrapper w-f" ng-hide="::(panelActivo != PanelUsuarios)">
            <xbrl:usuarios-documento-instancia xbrl:id-documentoinstancia="::documentoInstancia.IdDocumentoInstancia" ng-if="::(panelActivo == PanelUsuarios)" xbrl:fn-lista-actualizada="establecerPanelActivoFormatos(false)"></xbrl:usuarios-documento-instancia>
        </section>
        <section class="scrollable wrapper w-f" ng-hide="::(panelActivo != PanelVersiones)">
            <xbrl:historico-versiones xbrl:listado-versiones="::listaHistoricoVersiones" xbrl:fn-version-cargada="establecerPanelActivoFormatos(true)"></xbrl:historico-versiones>
        </section>
        <footer id="footerEditor" class="footer bg-white b-t">
            <div class="row text-center-xs">
                <div class="col-md-8">
                    <p id="idDocumento" class="font-bold m-t">{{'EDITOR_XBRL_IDIOMA' | translate}} {{xbrlIdioma.DescripcionIdioma}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span ng-if="documentoInstancia.UnidadesPresentacionTipoDatoMonetario==1000">{{'VISUALIZAR_DOCUMENTO' | translate}} {{ 'MILES' | translate}}</span><span ng-if="documentoInstancia.UnidadesPresentacionTipoDatoMonetario==1000000">{{'VISUALIZAR_DOCUMENTO' | translate}} {{ 'MILLONES' | translate}}</span></p>
                </div>
                <div class="col-md-4">
                    <p class="font-bold m-t text-right">
                        &nbsp;
                    </p>
                </div>
            </div>
        </footer>
    </section>
</aside>

