<xbrl-contenedor-formato xbrl:rol-uri="{{xbrlRol.Uri}}" orientacion="landscape" modo-vista-formato="{{documentoInstancia.modoVistaFormato}}">
    <div oc-lazy-load="{name: 'abaxXBRLDistribucionIngresosModule', files: ['ts/templates/taxonomias/ifrs_mx_20141205/extensions/distribucionIngresos.js'], cache:true, reconfig:false}">
        <div id="contenedorDistribucionIngresos" class="table-responsive" xbrl:distribucion-ingresos>
            <table class="table table-striped b-t b-light" xbrl:tabla-excel xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" selector="td:not(:first-child)" selector-contenedor-x="#contenedorDistribucionIngresos" selector-contenedor-y="#contenedorFormatos" tab-index="1" on-space-or-enter-key="onSpaceOrEnterKey(evento, x, y)" on-after-paste="onAfterPaste(valorPegado, x, y)" on-after-range-paste="onAfterRangePaste(valorPegado, x, y, ancho, alto)">
                <thead>
                    <tr>
                        <th class="th-sortable" data-toggle="class">{{documentoInstancia.xbrlIdioma.ClaveIdioma == 'es' ? 'Marcas y Productos' : 'Brands and Products' }}  </th>
                        <th style="min-width:190px;"><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_IngresosNacionalesMiembro" xbrl:nivel-indentacion="0" /></th>
                        <th style="min-width:190px;"><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_IngresosPorExportacionMiembro" xbrl:nivel-indentacion="0" /></th>
                        <th style="min-width:190px;"><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_IngresosDeSubsidiariasEnElExtranjeroMiembro" xbrl:nivel-indentacion="0" /></th>
                        <th style="min-width:190px;"><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_IngresosTotalesMiembro" xbrl:nivel-indentacion="0" /></th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr ng-repeat-start="valorDimensionMarca in valoresDimensionMarca">
                        <td class="conceptoPrimarioAbstracto">
                            <div style="display: table-row; height:100%;">
                                <span style="display: table-cell; padding: 0px 8px 0px 8px !important; width:92%;">
                                    <xbrl:campo-texto-generico-dip xbrl:valor="{{valorDimensionMarca}}" xbrl:lista-valores="valoresDimensionMarca" xbrl:change-value-listener="actualizarValorDimensionMarca(newValue, oldValue)"></xbrl:campo-texto-generico-dip>
                                </span>
                                <div style="display: table-cell; height:100%; padding:0; vertical-align:middle;">
                                    <button style="display: table-cell; height: 50%; width: 20px; text-align:center; border:0px; padding: 0px;"
                                            type="button"
                                            ng-hide="documentoInstancia.BloquearCamposCaptura"
                                            class="btn-info"
                                            ng-click="agregarValorDimensionProducto(valorDimensionMarca)">
                                        <i class="fa fa-plus" style="width:20px; height: 50%"></i>
                                    </button>
                                    <button style="display: table-cell; height: 50%; width: 20px; text-align:center; border:0px; padding: 0px;"
                                            type="button"
                                            ng-hide="documentoInstancia.BloquearCamposCaptura"
                                            class="btn-danger"
                                            ng-click="eliminarElementosDimensionMarca(valorDimensionMarca)">
                                        <i class="fa fa-minus" style="width:20px; height: 50%"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td class="conceptoPrimarioAbstracto seleccion">&nbsp;</td>
                        <td class="conceptoPrimarioAbstracto seleccion">&nbsp;</td>
                        <td class="conceptoPrimarioAbstracto seleccion">&nbsp;</td>
                        <td class="conceptoPrimarioAbstracto seleccion">&nbsp;</td>
                    </tr>
                    <tr ng-repeat-end ng-repeat="valorDimensionProducto in valoresDimensionProductoPorMarca[valorDimensionMarca]">
                        <td style="/*border-right: 1px solid #dddddd;*/ vertical-align:bottom; padding: 0px; height:1px;">
                            <div style="display: table-row; height:100%;">
                                <span style="display: table-cell; min-width:30px;">&nbsp;</span>
                                <span style="display: table-cell; padding: 0px 8px 0px 8px !important; width:92%;">
                                    <xbrl:campo-texto-generico-dip xbrl:valor="{{valorDimensionProducto}}" xbrl:lista-valores="valoresDimensionProductoPorMarca[valorDimensionMarca]" xbrl:change-value-listener="actualizarValorDimensionProducto(valorDimensionMarca,newValue, oldValue)"></xbrl:campo-texto-generico-dip>
                                </span>
                                <button style="display: table-cell; height: 100%; width: 20px; text-align:center; border:0px; padding: 0px;vertical-align:middle"
                                        type="button"
                                        ng-hide="documentoInstancia.BloquearCamposCaptura"
                                        class="btn-danger"
                                        ng-click="eliminarElementosProducto(valorDimensionMarca,valorDimensionProducto)">
                                   <i class="fa fa-minus" style="width:20px"></i>
                                </button>
                            </div>
                        </td>
                        <td class="seleccion"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-concepto="ifrs_mx-cor_20141205_ImporteDeIngresos" xbrl:id-contexto="{{obtenerIdContexto(valorDimensionMarca,valorDimensionProducto,'IngresosNacionalesMiembro','ifrs_mx-cor_20141205_IngresosNacionalesMiembro')}}" xbrl:id-unidad="{{::idUnidadMoneda}}" xbrl:decimales="-3" xbrl:valor-default="0" xbrl:crear-hecho="true" xbrl:formula="{{obtenIdFormulaTotalIngresos(valorDimensionMarca,valorDimensionProducto)}}"></xbrl:campo-captura></td>
                        <td class="seleccion"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-concepto="ifrs_mx-cor_20141205_ImporteDeIngresos" xbrl:id-contexto="{{obtenerIdContexto(valorDimensionMarca,valorDimensionProducto,'IngresosPorExportacionMiembro','ifrs_mx-cor_20141205_IngresosPorExportacionMiembro')}}" xbrl:id-unidad="{{::idUnidadMoneda}}" xbrl:decimales="-3" xbrl:valor-default="0" xbrl:crear-hecho="true" xbrl:formula="{{obtenIdFormulaTotalIngresos(valorDimensionMarca,valorDimensionProducto)}}"></xbrl:campo-captura></td>
                        <td class="seleccion"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-concepto="ifrs_mx-cor_20141205_ImporteDeIngresos" xbrl:id-contexto="{{obtenerIdContexto(valorDimensionMarca,valorDimensionProducto,'IngresosDeSubsidiariasEnElExtranjeroMiembro','ifrs_mx-cor_20141205_IngresosDeSubsidiariasEnElExtranjeroMiembro')}}" xbrl:id-unidad="{{::idUnidadMoneda}}" xbrl:decimales="-3" xbrl:valor-default="0" xbrl:crear-hecho="true" xbrl:formula="{{obtenIdFormulaTotalIngresos(valorDimensionMarca,valorDimensionProducto)}}"></xbrl:campo-captura></td>
                        <td class="seleccion">
                            <xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-concepto="ifrs_mx-cor_20141205_ImporteDeIngresos" xbrl:id-contexto="{{obtenerIdContexto(valorDimensionMarca,valorDimensionProducto,'IngresosTotalesMiembro','ifrs_mx-cor_20141205_IngresosTotalesMiembro')}}" xbrl:id-unidad="{{::idUnidadMoneda}}" xbrl:decimales="-3" xbrl:valor-default="0" xbrl:crear-hecho="true" xbrl:ultimo="$parent.$last && $last" xbrl:formula="{{obtenIdFormulaTotalIngresos(valorDimensionMarca,valorDimensionProducto)}}"></xbrl:campo-captura>
                        </td>
                    </tr>
                    <tr>
                        <td class="totalConceptoAbstracto"><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_ImporteDeIngresos" xbrl:nivel-indentacion="2"/></td>
                        <td class="totalConceptoAbstracto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A6519bf39-9bd3-4bc8-a100-83adbed489cd"></xbrl:campo-captura></td>
                        <td class="totalConceptoAbstracto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A710b15d5-8ad0-485a-93a5-9893b33b0327"></xbrl:campo-captura></td>
                        <td class="totalConceptoAbstracto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A7a665c9e-3026-4158-a5c6-ddb9da0117f4"></xbrl:campo-captura></td>
                        <td class="totalConceptoAbstracto" ng-repeat="i in [] | rango:1">
                            <xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ac53c1485-c468-47a9-bbf8-04d90332f49e" xbrl:ultimo="ultimoCampo" ng-repeat="i in [] | rango:1"></xbrl:campo-captura>
                            <input type="hidden" id="{{idUltimoCampo}}" ng-if="idUltimoCampo === 'FinDistribucionIngresos'" />
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</xbrl-contenedor-formato>