<xbrl-contenedor-formato xbrl:rol-uri="{{xbrlRol.Uri}}" orientacion="portrait" xbrl:ocultar-titulo-rol="true" modo-vista-formato="{{documentoInstancia.modoVistaFormato}}">

    <br />
    <br />
    <h4>{{xbrlRol.Nombre}}</h4>
    <br />

    <table class="tablaAnchoFijo" cellspacing="5">
        <tbody>
            <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_ClaveDeCotizacionBloqueDeTexto" xbrl:nivel-indentacion="1"></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A4aa4911c-1057-4b09-a76d-b8d4da0882ca"></xbrl:campo-captura></td>
            </tr>
            <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_PeriodCoveredByFinancialStatements" xbrl:nivel-indentacion="1"></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="Ae56bc760-ce16-4cd3-bec2-051765403951"></xbrl:campo-captura></td>
            </tr>
            <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DateOfEndOfReportingPeriod2013" xbrl:nivel-indentacion="1"></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A83231101-63ee-4e7a-9311-9758c6cdf2bf"></xbrl:campo-captura></td>
            </tr>
            <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td style="text-align:left; width:50%;"><span><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_NameOfReportingEntityOrOtherMeansOfIdentification" xbrl:nivel-indentacion="1"></b></span></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A6f48e7ee-3874-460c-91db-39b37c5c65c1"></xbrl:campo-captura></td>
            </tr>
            <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfPresentationCurrency" xbrl:nivel-indentacion="1"></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A38406107-5cf4-45bc-ac0c-7614c84b85d9"></xbrl:campo-captura></td>
            </tr>
            <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td style="text-align:left; width:50%;"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_LevelOfRoundingUsedInFinancialStatements" xbrl:nivel-indentacion="1"></b></label></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A146d9368-3c33-45b2-befb-912e0c598fad"></xbrl:campo-captura></td>
            </tr>
            <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td style="text-align:left; width:50%;"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_Consolidado" xbrl:nivel-indentacion="1"></b></label></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A7903b4eb-7f91-488b-bf1b-250e3c277ec9"></xbrl:campo-captura></td>
            </tr>
            <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td style="text-align:left; width:50%;"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_NumeroDeTrimestre" xbrl:nivel-indentacion="1"></b></label></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A6bb10c09-b490-4fbf-9f49-5cab9d427007"></xbrl:campo-captura></td>
            </tr>

            <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td style="text-align:left; width:50%;"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20160822_RequiresSubmittingAnnexAA" xbrl:nivel-indentacion="1"></b></label></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A6bb10c09-b490-4fbf-9f49-5cab9d427007-RequiresSubmittingAnnexAA"></xbrl:campo-captura></td>
            </tr>

            <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td style="text-align:left; width:50%;"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_TipoDeEmisora" xbrl:nivel-indentacion="1"></b></label></td>
                <td style="text-align:left; width:50%;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A948dfb7f-2dfe-42c7-8fed-49d80dba5822"></xbrl:campo-captura></td>
            </tr>
            <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td style="text-align:left; width:50%;"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_ExplanationOfChangeInNameOfReportingEntityOrOtherMeansOfIdentificationFromEndOfPrecedingReportingPeriod" xbrl:nivel-indentacion="1"></b></label></td>
                <td style="text-align:left; width:50%;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="Aee80951d-408c-4afb-999d-c2ae7bddcd5b"></xbrl:campo-captura></td>
            </tr>
            <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td style="text-align:left; width:50%;"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfNatureOfFinancialStatements" xbrl:nivel-indentacion="1"></b></label></td>
                <td style="text-align:left; width:50%;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="Af0c18079-1032-4a39-b6da-2aee7134afc5"></xbrl:campo-captura></td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <div class="form-group">
        <table class="tablaAnchoFijo">
            <tbody>
                <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                    <td>
                        <div class="etiquetaConceptoTitulo"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DisclosureOfGeneralInformationAboutFinancialStatementsExplanatory" xbrl:nivel-indentacion="1"></b></label><b>:</b></div>
                        <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A5f309eb8-4fd0-43d6-afcc-001c3cb9edde"></xbrl:campo-captura></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group" ng-if="definicionPlantilla.obtenerVariablePorId('esDictaminado') == 'true'">
        <table class="tablaAnchoFijo">
            <tbody>
                <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                    <td>
                        <div class="etiquetaConceptoTitulo"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_NombreDeProveedorDeServiciosDeAuditoriaExternaBloqueDeTexto" xbrl:nivel-indentacion="1"></b></label><b>:</b></div>
                        <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A3044199a-3e49-41b0-99ce-2bd9b75e19f5"></xbrl:campo-captura></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group" ng-if="definicionPlantilla.obtenerVariablePorId('esDictaminado') == 'true'">
        <table class="tablaAnchoFijo">
            <tbody>
                <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                    <td>
                        <div class="etiquetaConceptoTitulo"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_NombreDelSocioQueFirmaLaOpinionBloqueDeTexto" xbrl:nivel-indentacion="1"></b></label><b>:</b></div>
                        <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A3e48bdb5-944f-4672-ba75-be9147973bab"></xbrl:campo-captura></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group" ng-if="definicionPlantilla.obtenerVariablePorId('esDictaminado') == 'true'">
        <table class="tablaAnchoFijo">
            <tbody>
                <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                    <td>
                        <div class="etiquetaConceptoTitulo"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_TipoDeOpinionALosEstadosFinancierosBloqueDeTexto" xbrl:nivel-indentacion="1"></b></label><b>:</b></div>
                        <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A4797322d-56ed-45aa-9956-816ac8b544d2"></xbrl:campo-captura></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group" ng-if="definicionPlantilla.obtenerVariablePorId('esDictaminado') == 'true'">
        <table class="tablaAnchoFijo">
            <tbody>
                <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                    <td>
                        <div class="etiquetaConceptoTitulo"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_FechaDeOpinionSobreLosEstadosFinancierosBloqueDeTexto" xbrl:nivel-indentacion="1"></b></label><b>:</b></div>
                        <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="Ad2938c8d-0043-4c6f-a29e-7c699ec7418d"></xbrl:campo-captura></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group" ng-if="definicionPlantilla.obtenerVariablePorId('esDictaminado') == 'true'">
        <table class="tablaAnchoFijo">
            <tbody>
                <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                    <td>
                        <div class="etiquetaConceptoTitulo"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_FechaDeAsambleaEnQueSeAprobaronLosEstadosFinancierosBloqueDeTexto" xbrl:nivel-indentacion="1"></b></label><b>:</b></div>
                        <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A55834e59-ba5d-455d-99b4-d612660f2213"></xbrl:campo-captura></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <table class="tablaAnchoFijo">
            <tbody>
                <tr xbrl:filtro-busqueda xbrl:filtro="xbrlRol.FiltroBusqueda" xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                    <td>
                        <div class="etiquetaConceptoTitulo"><label><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_SeguimientoDeAnalisisBloqueDeTexto" xbrl:nivel-indentacion="1"></b></label><b>:</b></div>
                        <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A4f047eed-5ff4-43be-ae19-8c8ceca5f876" xbrl:ultimo="true"></xbrl:campo-captura></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</xbrl-contenedor-formato>

