<xbrl-contenedor-formato xbrl:rol-uri="{{xbrlRol.Uri}}" orientacion="portrait" modo-vista-formato="{{documentoInstancia.modoVistaFormato}}">
    <table class="tablaAnchoFijo">
        <!--<thead>
            <tr>
                <th style="min-width: 130px; padding-bottom:20px;">
                    Trimestre A&ntilde;o Actual<br />
                    {{ ::definicionPlantilla.obtenerVariablePorId("medida_MXN_sin_contexto")}}<br />
                    {{ ::definicionPlantilla.obtenerVariablePorId("fecha_2015_07_01")}} - {{ ::definicionPlantilla.obtenerVariablePorId("fecha_2015_09_30")}}
                </th>
            </tr>
        </thead>-->
        <tbody>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-mc_ManagementCommentaryExplanatory" xbrl:nivel-indentacion="0">:</b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A1847a04f-55d9-46b6-bc42-692b0fd5bce8"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-mc_DisclosureOfNatureOfBusinessExplanatory" xbrl:nivel-indentacion="1">:</b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A26e89b5c-c19f-4f57-b958-e0bb54ec70f0"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-mc_DisclosureOfManagementsObjectivesAndItsStrategiesForMeetingThoseObjectivesExplanatory" xbrl:nivel-indentacion="1">:</b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A4b97c719-03ad-448e-a0bf-0e1f8983ab42"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-mc_DisclosureOfEntitysMostSignificantResourcesRisksAndRelationshipsExplanatory" xbrl:nivel-indentacion="1">:</b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ad87de965-9e74-41ef-9ce5-1339c5ea4065"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-mc_DisclosureOfResultsOfOperationsAndProspectsExplanatory" xbrl:nivel-indentacion="1">:</b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A72f63033-410a-491e-83f4-9debf540fbd7"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="mc_mx-cor_20141205_SituacionFinancieraLiquidezYRecursosDeCapitalBloqueDeTexto" xbrl:nivel-indentacion="1">:</b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A1e3cdf95-3347-4bea-b378-b47dc1ad00af"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="mc_mx-cor_20141205_ControlInternoBloqueDeTexto" xbrl:nivel-indentacion="1">:</b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ab6654faa-fd59-464f-9682-e14e5f222e34"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-mc_DisclosureOfCriticalPerformanceMeasuresAndIndicatorsThatManagementUsesToEvaluateEntitysPerformanceAgainstStatedObjectivesExplanatory" xbrl:nivel-indentacion="1">:</b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A4378f08a-c23d-45f5-8b2f-fbd7b4598ab9" xbrl:ultimo="true"></xbrl:campo-captura></div>
                </td>
            </tr>
        </tbody>
    </table>
</xbrl-contenedor-formato>