<xbrl-contenedor-formato xbrl:rol-uri="{{xbrlRol.Uri}}" orientacion="portrait" modo-vista-formato="{{documentoInstancia.modoVistaFormato}}">

    <table class="tablaAnchoFijo">
        <tbody>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DisclosureOfInterimFinancialReportingExplanatory" xbrl:nivel-indentacion="0"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:id-hecho-plantilla="Ae8c0cbf0-0183-4f27-b6dc-8761da15e12f"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfSignificantEventsAndTransactions" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:id-hecho-plantilla="A1b214411-b9bc-4567-b079-7cf925104b2f" xbrl:tipo-dato="http://www.xbrl.org/dtr/type/non-numeric:textBlockItemType"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_ExplanationOfAccountingPoliciesAndMethodsOfComputationFollowedInInterimFinancialStatements" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:id-hecho-plantilla="Aa2523db2-1ad5-40e7-aa53-2c3d29b08798"></xbrl:campo-captura></div>
                </td>
            </tr>
            
            

            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_ExplanationOfSeasonalityOrCyclicalityOfInterimOperations" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:id-hecho-plantilla="A210be076-2027-44de-adb2-bc956c94d40b" xbrl:tipo-dato="http://www.xbrl.org/dtr/type/non-numeric:textBlockItemType"></xbrl:campo-captura></div>
                </td>
            </tr>

            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_ExplanationOfNatureAndAmountOfItemsAffectingAssetsLiabilitiesEquityNetIncomeOrCashFlowsThatAreUnusualBecauseOfTheirNatureSizeOrIncidence" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:id-hecho-plantilla="A9886aaea-1d0c-482a-a72d-0d7ffe11254b" xbrl:tipo-dato="http://www.xbrl.org/dtr/type/non-numeric:textBlockItemType"></xbrl:campo-captura></div>
                </td>
            </tr>

            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_ExplanationOfNatureAndAmountOfChangesInEstimatesOfAmountsReportedInPriorInterimPeriodsOrPriorFinancialYears" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:id-hecho-plantilla="A0047a381-4514-4e42-a2bc-6e0434b90a81" xbrl:tipo-dato="http://www.xbrl.org/dtr/type/non-numeric:textBlockItemType"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_ExplanationOfIssuancesRepurchasesAndRepaymentsOfDebtAndEquitySecurities" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:id-hecho-plantilla="Ae92168cd-9306-48d2-8e58-5133a83f17b2" xbrl:tipo-dato="http://www.xbrl.org/dtr/type/non-numeric:textBlockItemType"></xbrl:campo-captura></div>
                </td>
            </tr>



            </tbody>

    </table>
    <br/>
    <br/>
        <div id="contenedorTablaExcel" class="table-responsive">
            <table class="table table-striped b-t b-light tablaAnchoFijo" xbrl:tabla-excel selector="td:not(:first-child)" selector-contenedor-x="#contenedorTablaExcel" selector-contenedor-y="#contenedorFormatos" tab-index="1" on-space-or-enter-key="onSpaceOrEnterKey(evento, x, y)" on-after-paste="onAfterPaste(valorPegado, x, y)" on-after-range-paste="onAfterRangePaste(valorPegado, x, y, ancho, alto)">
            <!--table class="table table-striped b-t b-light" xbrl:tabla-excel selector="td:not(:first-child)" selector-contenedor-x="#contenedorTablaExcel" selector-contenedor-y="#contenedorFormatos" tab-index="1" on-space-or-enter-key="onSpaceOrEnterKey(evento, x, y)" on-after-paste="onAfterPaste(valorPegado, x, y)" on-after-range-paste="onAfterRangePaste(valorPegado, x, y, ancho, alto)"-->
                <!--thead>
                    <tr>
                        <th style="min-width: 230px; width:50%;" class="th-sortable" data-toggle="class">{{documentoInstancia.xbrlIdioma.ClaveIdioma == 'es' ? 'Concepto' : 'Concept' }} </th>
                        <th style="min-width: 230px; width:50%;">
                        </th>
                    </tr>
                </thead-->
                <tbody>
                   
                    <tr><td><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DividendsPaidOrdinaryShares" xbrl:nivel-indentacion="1"></td>													<td><xbrl:campo-captura xbrl:id-hecho-plantilla="A3026ec41-925e-4a4a-9a85-f39451613c8b"></xbrl:campo-captura></td></tr>
                    <tr><td><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DividendsPaidOtherShares" xbrl:nivel-indentacion="1"></td>														<td><xbrl:campo-captura xbrl:id-hecho-plantilla="Af9b452cd-a4a0-4dc8-b8af-872602c37f6e"></xbrl:campo-captura></td></tr>
                    <tr><td><xbrl:etiqueta-concepto xbrl:id-concepto="ifrs-full_DividendsPaidOrdinarySharesPerShare" xbrl:nivel-indentacion="1"></td>																										<td><xbrl:campo-captura xbrl:id-hecho-plantilla="Aea3f2986-7470-47a2-b621-9f18ea212241"></xbrl:campo-captura></td></tr>
                    <tr><td><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DividendsPaidOtherSharesPerShare" xbrl:nivel-indentacion="1"></td>												<td><xbrl:campo-captura xbrl:id-hecho-plantilla="A2b0676af-9a96-43e8-a410-57de78c6dbf2"></xbrl:campo-captura></td></tr>
                </tbody>
            </table>
        </div>

    <br/>
    <br/>
    <table class="tablaAnchoFijo">
        <tbody>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_ExplanationOfMaterialEventsSubsequentToEndOfInterimPeriodThatHaveNotBeenReflected" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:id-hecho-plantilla="A932fcf78-f83d-42a9-991c-7d8ca9a05173" xbrl:tipo-dato="http://www.xbrl.org/dtr/type/non-numeric:textBlockItemType"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_ExplanationOfEffectOfChangesInCompositionOfEntityDuringInterimPeriod" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:id-hecho-plantilla="Aa44cd536-2580-48d3-8eeb-e690d58589b9" xbrl:tipo-dato="http://www.xbrl.org/dtr/type/non-numeric:textBlockItemType"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfComplianceWithIFRSsIfAppliedForInterimFinancialReport" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:id-hecho-plantilla="A3ffa7331-8d73-4b33-aa3a-57c9e74f92cb" xbrl:tipo-dato="http://www.xbrl.org/dtr/type/non-numeric:textBlockItemType"></xbrl:campo-captura></div>
                </td>
            </tr>

            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfNatureAndAmountOfChangeInEstimateDuringFinalInterimPeriod" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:id-hecho-plantilla="A6b349f51-5cb8-40a0-a1ec-01559172c83f" xbrl:ultimo="true"  xbrl:tipo-dato="http://www.xbrl.org/dtr/type/non-numeric:textBlockItemType"></xbrl:campo-captura></div>
                </td>
            </tr>

        </tbody>

    </table>
</xbrl-contenedor-formato>