<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="appProperties" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />

    <sectionGroup name="spring">
      <section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web" />
    </sectionGroup>
    
  </configSections>

  <spring>
    <context>
      <resource uri="assembly://AbaxXBRLViewerWeb/AbaxXBRLViewerWeb.Common.Config/db.xml" />
      <resource uri="assembly://AbaxXBRLViewerWeb/AbaxXBRLViewerWeb.Common.Config/common.xml" />
      <resource uri="assembly://AbaxXBRLViewerWeb/AbaxXBRLViewerWeb.Common.Config/services.xml"/>
      
    </context>
  </spring>
  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
    <add key="Version" value="2.0.0" />

    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="owin:AppStartup" value="AbaxXBRLViewerWeb.Startup, AbaxXBRLViewerWeb" />
    <!--<add key="urlCNBVViewer" value="http://localhost:17487" />-->
    <add key="urlCNBVViewer" value="http://qa2hsoftware.southcentralus.cloudapp.azure.com/visorCNBV" />
	<!-- Pre prod -->
	<!-- <add key="urlCNBVViewer" value="http://prexbrlvisorexterno" /> -->
	<!-- Prod -->
	<!-- <add key="urlCNBVViewer" value="https://xbrl.cnbv.gob.mx" /> -->
  </appSettings>
  <appProperties>
    <add key="cronExpresionJobArchivoRSS" value="* */1 * * * ?" />
    <!--<add key="connStringBD" value="Data Source=SR21VIBD01\SQLDESCS;Initial Catalog=StivXbrl;User ID=idstivxbrl;Password=89wsa9e.34;Trusted_Connection=False" />-->
    <!--<add key="connStringBD" value="Data Source=SR11VIBD03\SQLPRO3CS;Initial Catalog=StivXbrl;User ID=idstivxbrl;Password=89wsa9e.34;Trusted_Connection=False" />-->
	<!--<add key="connStringBD" value="Data Source=prod2hsoftware.cloudapp.net\SQLSERVER2H;Initial Catalog=abax_cnbv_db;User ID=abax_integracion_xp_usr;Password=2061M0wx2640wCT;Trusted_Connection=False" />-->
    <add key="connStringBD" value="Data Source=qa2hsoftware.southcentralus.cloudapp.azure.com;Initial Catalog=abax_cnbv_db;User ID=abax_integracion_xp_usr;Password=2061M0wx2640wCT;Trusted_Connection=False" />
	<!--<add key="connStringBD" value="Data Source=172.16.132.14\SQLDESCS;Initial Catalog=StivXbrl;User ID=idstivxbrl;Password=89wsa9e.34;Trusted_Connection=False" />-->
  </appProperties>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="100000000" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="OwinDocumentoInstancia" verb="*" path="/DocumentoInstancia/*" type="Microsoft.Owin.Host.SystemWeb.OwinHttpHandler, Microsoft.Owin.Host.SystemWeb" />
    </handlers>

    <httpErrors>
      <remove statusCode="403" subStatusCode="-1" />
    </httpErrors>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000" />
      </requestFiltering>
    </security>

    <!--staticContent>
    <mimeMap fileExtension=".json" mimeType="application/json" />
  </staticContent-->

    <!-- handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers -->

  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>




</configuration>