<div style="text-align:right; padding-right:20px; min-height:25px;" ng-if="!editando">
    <span class="xbrl-visor">{{campoTextoDto.valor}}</span>
</div>
<div style="text-align:right; padding-right:40px;" ng-if="editando">
    <div class="input-group">
        <span class="input-group-btn">
            <input type="text"
                   class="form-control xbrl-editor"
                   ng-model="campoTextoDto.valor"
                   ng-blur="manejarBlur()"
                   ng-keydown="manejarKeyDown($event)" />
        </span>
    </div>
</div>