<section>
    <section class="vbox">
        <section class="scrollable wrapper" slimscroll="{size: '10px', height: 'auto'}" slimscrolllistento="resize::resize">
            <div class="m-b-md">
                <h3 class="m-b-none">{{'ETIQUETA_CREAR_DOCUMENTO_POR_PLANTILLA' | translate}}</h3>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <ul class="nav nav-tabs font-bold">
                                <li><a href="javascript:void(0);" data-toggle="tab1">{{'ETIQUETA_DOCUMENTO_A_CREAR' | translate}}</a></li>
                                <li class="active"><a href="javascript:void(0);" data-toggle="tab2">{{'ETIQUETA_CARACTERISTICAS_DOCUMENTO' | translate}}</a></li>
                            </ul>
                        </div>

                        <form name="formaPlantilla" ng-submit="finalizar(formaPlantilla.$valid)" novalidate>

                            <section class="panel-body">
                                <p>{{'ETIQUETA_CREAR_DOCUMENTO_POR_PLANTILLA' | translate}}</p>
                                <div class="line line-lg"></div>

                                <div class="progress progress-xs m-t-md">
                                    <div class="progress-bar bg-success" style="width: 100%;"></div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active row" id="step1">
                                        <div class="col-sm-4 form-group" ng-class="{ 'has-error' : formaPlantilla.taxonomiaSeleccionada.$invalid }">
                                            <p>{{'ETIQUETA_SELECCIONAR_TAXONOMIA_PREVIA' | translate}}</p>
                                            <select name="taxonomiaSeleccionada" ng-model="taxonomiaSeleccionada" ng-required="true" required class="form-control"
                                                    ng-options="taxonomia.Nombre for taxonomia in taxonomias" ng-change="actualizarPlantillaSeleccionada()"
                                                    ng-disabled="taxonomiasSoloLectura">
                                                <option value="">--{{'ETIQUETA_SELECCIONAR_TAXONOMIA' | translate}}--</option>

                                            </select>
                                            <p ng-show="formaPlantilla.taxonomiaSeleccionada.$invalid" class="help-block">{{'ETIQUETA_SELECCIONAR_TAXONOMIA' | translate}}.</p>
                                        </div>
                                        <div class="col-sm-8">&nbsp;</div>
                                    </div>
                                    <div>&nbsp;</div>
                                    <div ng-if="atributosConfiguracion != null">
                                        <div class="row" ng-repeat="atributo in atributosConfiguracion">
                                            <div class="col-sm-4" ng-class="{ 'has-error' : formaPlantilla.{{atributo.Id}}.$invalid }">
                                                <p>{{atributo.Etiqueta}}</p>
                                                <p class="input-group" ng-if="atributo.Tipo == AtributoFecha">
                                                    <input type="text" name="{{atributo.Id}}" datepicker-popup="{{atributo.InformacionAdicional.formato}}" ng-model="valoresParametros[atributo.Id]"
                                                            datepicker-mode="{{atributo.InformacionAdicional.datepickerMode}}"
                                                            datepicker-options="atributo.InformacionAdicional"
                                                            is-open="opened[atributo.Id]"
                                                            ng-required="true" close-text="Cerrar" clear-text="Limpiar" current-text="Hoy" class="form-control" />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="abrirCalendario($event,atributo.Id)">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>

                                                </p>
                                                <div class="input-group" ng-if="atributo.Tipo == AtributoLista" ng-class="{ 'has-error' : formaPlantilla.{{atributo.Id}}.$invalid}">
                                                    <div ng-if="listaCargada[atributo.Id]  != 'true'">
                                                        <i class="fa fa-refresh fa-spin"></i>
                                                        {{'ETIQUETA_CARGANDO' | translate}} ...
                                                    </div>
                                                    <div ng-if="listaCargada[atributo.Id]  == 'true'">
                                                        <select name="{{atributo.Id}}" ng-model="valoresParametros[atributo.Id]" ng-required="true" class="form-control"
                                                                ng-options="item.Valor as item.Etiqueta for item in listaOpciones[atributo.Id] ">
                                                            <option value="">{{'ETIQUETA_SELECCIONAR_OPCION' | translate }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <p ng-show="formaPlantilla.{{atributo.Id}}.$invalid" class="help-block">{{'ETIQUETA_VALOR_REQUERIDO' | translate}} {{atributo.Etiqueta}} {{'ETIQUETA_ES_REQUERIDO' | translate}}</p>
                                                <div>&nbsp;</div>
                                            </div>
                                            <div class="col-sm-8">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <footer class="panel-footer">
                                <ul class="pager wizard m-b-sm">
                                    <li class="previous"><a href="javascript:void(0);" ui-sref="inicio.editorXBRL.DocumentoInstanciaCrearDocumentoInstancia1">{{'ETIQUETA_ANTERIOR' | translate}}</a></li>
                                    <li class="next"><a href="javascript:void(0);" ng-click="finalizar(formaPlantilla.$valid)" ng-show="formaPlantilla.$valid">{{'ETIQUETA_FINALIZAR' | translate}}</a></li>
                                </ul>
                            </footer>
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </section>
</section>




