<div>
    
    <div class="sub-header" ng-if="::tipoEncabezado == TIPOS_ENCABEZADO_ENUM.IFRS_2012_04_01">
        <div class="header-row">
            <div class="cell-left">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="mx-ifrs-ics_ClaveCotizacion" xbrl:nivel-indentacion="1">:&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="Aa6a0bccf-914c-4874-8710-2d138d967d89" />
                </div>
            </div>

            <div class="cell-right">
                <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="Ac8c9bdf9-fbe7-4e86-82bc-d10661a038d0"></xbrl:campo-captura>
            </div>
        </div>
        <div class="header-row">
            <div class="cell-left">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="mx-ifrs-ics_Dictaminado" xbrl:nivel-indentacion="1"></b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="Af2d19254-0881-4f72-976b-ea7223c15d26">
                </div>
            </div>

            <div class="cell-right">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_Consolidado" xbrl:nivel-indentacion="1"></b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A7903b4eb-7f91-488b-bf1b-250e3c277ec9">
                </div>
            </div>
        </div>
        <div class="header-row">
            <div class="cell-left">&nbsp;</div>

            <div class="cell-right">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_DateOfEndOfReportingPeriod" xbrl:nivel-indentacion="1">&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A9ead3564-238f-4b87-a242-89279a72e488" />
                </div>
            </div>
        </div>
    </div>
    <div class="sub-header" ng-if="::tipoEncabezado == TIPOS_ENCABEZADO_ENUM.IFRS_2O14_12_05">

        <div class="header-row">
            <div class="cell-left">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_ClaveDeCotizacionBloqueDeTexto" xbrl:nivel-indentacion="1">:&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A4aa4911c-1057-4b09-a76d-b8d4da0882ca" />
                </div>
            </div>

            <div class="cell-right">
                <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A6f48e7ee-3874-460c-91db-39b37c5c65c1"></xbrl:campo-captura>
            </div>
        </div>

        <div class="header-row">

            <div class="cell-left">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_NumeroDeTrimestre" xbrl:nivel-indentacion="1"></b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A6bb10c09-b490-4fbf-9f49-5cab9d427007">
                </div>
            </div>

            <div class="cell-right">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_Consolidado" xbrl:nivel-indentacion="1"></b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A7903b4eb-7f91-488b-bf1b-250e3c277ec9">
                </div>
            </div>
        </div>
        <div class="header-row">

            <div class="cell-left">&nbsp;</div>

            <div class="cell-right">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DateOfEndOfReportingPeriod2013" xbrl:nivel-indentacion="1">&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A83231101-63ee-4e7a-9311-9758c6cdf2bf" />
                </div>
            </div>
        </div>
    </div>
    <div class="sub-header" ng-if="::esDocumentoFideicomiso">
            <div class="header-row">
                <div class="cell-left">
                    <div class="label-title">
                        <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['claveCotizacion']}}" xbrl:nivel-indentacion="1">:&nbsp;</b>
                    </div>
                    <div class="value">
                        <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="{{HechosPlantillaHeader['claveCotizacion']}}" />
                    </div>
                </div>
                <div class="cell-right" ng-if="!ConceptosPlantillaHeader['consolidado']">&nbsp;&nbsp;</div>
                <div class="cell-right" ng-if="ConceptosPlantillaHeader['consolidado']">
                    <div class="label-title">
                        <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['consolidado']}}" xbrl:nivel-indentacion="1"></b>
                    </div>
                    <div class="value">
                        <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="{{HechosPlantillaHeader['consolidado']}}">
                    </div>
                </div>


            </div>

            <div class="header-row">

                <div class="cell-left">
                    <div class="label-title">
                        <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['numeroTrimestre']}}" xbrl:nivel-indentacion="1"></b>
                    </div>
                    <div class="value">
                        <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="{{HechosPlantillaHeader['numeroTrimestre']}}">
                    </div>
                </div>

                <div class="cell-right">
                    <div class="label-title">
                        <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['fechaCierre']}}" xbrl:nivel-indentacion="1">&nbsp;</b>
                    </div>
                    <div class="value">
                        <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="{{HechosPlantillaHeader['fechaCierre']}}" />
                    </div>
                </div>

            </div>
    </div>
    <div class="sub-header" ng-if="::tipoEncabezado == TIPOS_ENCABEZADO_ENUM.REPORTE_ANUAL">

        <div class="header-row">
            <div class="cell-left">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['claveCotizacion']}}" xbrl:nivel-indentacion="1">:&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho="{{HechosDocumentoHeader['claveCotizacion']}}" />
                </div>
            </div>

            <div class="cell-right">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['tipoReporte']}}" xbrl:nivel-indentacion="1">:&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho="{{HechosDocumentoHeader['tipoReporte']}}" />
                </div>
            </div>
        </div>
        <div class="header-row">
            <div class="cell-left">
                <div class="label-title">
                    <b>{{'ETIQUETA_EJERCICIO' | translate}}:&nbsp;</b>
                </div>
                <div class="value">
                    <div class="raw-value">
                        {{VariablesHeader['ejercicio']}}
                    </div>
                </div>
            </div>
            <div class="cell-right">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['tipoInstrumento']}}" xbrl:nivel-indentacion="1">:&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho="{{HechosDocumentoHeader['tipoInstrumento']}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="sub-header" ng-if="::tipoEncabezado == TIPOS_ENCABEZADO_ENUM.PROSPECTO">

        <div class="header-row">
            <div class="cell-left">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['claveCotizacion']}}" xbrl:nivel-indentacion="1">:&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho="{{HechosDocumentoHeader['claveCotizacion']}}" />
                </div>
            </div>

            <div class="cell-right">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['tipoReporte']}}" xbrl:nivel-indentacion="1">:&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho="{{HechosDocumentoHeader['tipoReporte']}}" />
                </div>
            </div>
        </div>
        <div class="header-row">
            <div class="cell-left">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['fechaPublicacion']}}" xbrl:nivel-indentacion="1">:&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho="{{HechosDocumentoHeader['fechaPublicacion']}}" />
                </div>
            </div>
            <div class="cell-right">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['tipoInstrumento']}}" xbrl:nivel-indentacion="1">:&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho="{{HechosDocumentoHeader['tipoInstrumento']}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="sub-header" ng-if="::tipoEncabezado == TIPOS_ENCABEZADO_ENUM.EVENTO_RELEVANTE">

        <div class="header-row">
            <div class="cell-left">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['claveCotizacion']}}" xbrl:nivel-indentacion="1">:&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho="{{HechosDocumentoHeader['claveCotizacion']}}" />
                </div>
            </div>

            <div class="cell-right">
                <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho="{{HechosDocumentoHeader['razonSocial']}}" />
            </div>
        </div>
        <div class="header-row">
            <div class="cell-left">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['fecha']}}" xbrl:nivel-indentacion="1">:&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho="{{HechosDocumentoHeader['fecha']}}" />
                </div>
            </div>
        </div>
        <div class="header-row">
            <div class="cell-left">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['tipoEvento']}}" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b>
                </div>
                <div class="value">
                    <xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['tipoEventoValor']}}" xbrl:nivel-indentacion="0"></xbrl:etiqueta-concepto>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-header" ng-if="::tipoEncabezado == TIPOS_ENCABEZADO_ENUM.ANEXO_T">

        <div class="header-row">
            <div class="cell-left">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['claveCotizacion']}}" xbrl:nivel-indentacion="1">:&nbsp;</b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho="{{HechosDocumentoHeader['claveCotizacion']}}" />
                </div>
            </div>

            <div class="cell-right">
                <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho="{{HechosDocumentoHeader['razonSocial']}}" />
            </div>
        </div>
        <div class="header-row">
            <div class="cell-left">
                <div class="label-title">
                    <b>{{'ETIQUETA_PERIODO' | translate}}:&nbsp;</b>
                </div>
                <div class="value">
                    {{VariablesHeader['fecha']}}
                </div>
            </div>
            <div class="cell-right">
                <div class="label-title">
                    <b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="{{ConceptosPlantillaHeader['fideicomiso']}}" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b>
                </div>
                <div class="value">
                    <xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho="{{HechosDocumentoHeader['fideicomiso']}}" />
                </div>
            </div>
        </div>
    </div>

    <div class="tituloPresentaMoneda" >
        <span ng-if="documentoInstancia.UnidadesPresentacionTipoDatoMonetario==1000">
            {{'VISUALIZAR_DOCUMENTO' | translate}} {{ 'MILES' | translate}}
        </span>
        <span ng-if="documentoInstancia.UnidadesPresentacionTipoDatoMonetario==1000000">
            {{'VISUALIZAR_DOCUMENTO' | translate}} {{ 'MILLONES' | translate}}
        </span>
    </div>


    <div class="contenodorBarraGirs">
        <div class="barraGris"></div>
    </div>

    <br />
    <h4 ng-if="!ocultarTituloRol()" class="etiquetaRolXbrl">{{rol.Nombre}}</h4>
    <h5 ng-if="!ocultarTituloRol()">{{subtitulo || ''}}</h5>
    <br ng-if="!ocultarTituloRol()" />
</div>
