<form name="formaImportarNotasDocumento" novalidate>
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" ng-click="cerrarDialogo()">&times;</button>
        <div class="row m-t-sm">
            <div class="col-sm-10 m-b-xs">
                <h4 class="modal-title">{{'EDITOR_XBRL_IMPORTAR_NOTAS_WORD_DOC_INSTANCIA'|translate}}</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <p>{{'EDITOR_XBRL_INFORMAR_NOTAS_DOC_INSTANCIA' | translate}}</p>
        <p><a href="javascript:void(0);" class="btn btn-default" ng-click="obtenerPlantillaNotaDocumentoInstancia()"><i class="i i-file-word"></i> {{'EDITOR_XBRL_DESCARGA_PLANTILLA'|translate}} </a><br /><br /></p>
        <div class="form-group">
            <label>{{'EDITOR_XBRL_SELECCIONAR_ARCHIVO_IMPORTAR' | translate}}:</label>

            <input id="archivoWord" type="file" ng-model="archivoNotasDocumentoInstanciaImportado" ng-file-select="mostrarNombreInput($files)" ng-multiple="false" accept="{{extensionesPermitidas}}" class="filestyle" data-icon="false" data-classbutton="btn btn-default" data-classinput="form-control inline v-middle input-s" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">

            <div class="bootstrap-filestyle input-group">
                <input type="text" class="form-control " disabled value="{{nombreArchivoSeleccionado}}">
                <span class="group-span-filestyle input-group-btn" tabindex="0">
                    <label for="archivoWord" class="btn btn-default ">{{'ETIQUETA_SELECCIONE'|translate}}</label>
                </span>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <div>
            <button type="button" class="btn btn-default" ng-click="cerrarDialogo()">{{'ETIQUETA_BOTON_CANCELAR'|translate}}</button>
            <button type="button" class="btn btn-s-md btn-warning" ng-click="importarNotasDocumentoInstancia()">{{'EDITOR_XBRL_IMPORTAR_NOTAS' | translate}}</button>
        </div>
    </div>
</form>