<xbrl-contenedor-formato xbrl:rol-uri="{{xbrlRol.Uri}}" orientacion="portrait" modo-vista-formato="{{documentoInstancia.modoVistaFormato}}">
    
    <table class="tablaAnchoFijo" cellspacing="5">
        <tbody>
            <tr>
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ar_pros_GeneralDataAbstract" xbrl:nivel-indentacion="0"></b></td>
                <td style="text-align:left; width:50%; height:40px;" >&nbsp;</td>
            </tr>
            <tr >
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ar_pros_AnnualReport" xbrl:nivel-indentacion="1"></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="ar_pros_AnnualReport_2c6f7616-5c5f-42d0-a890-be559bbe0e27"></xbrl:campo-captura></td>
            </tr>
            <tr>
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ar_pros_LimitedPublicOffering" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="ar_pros_LimitedPublicOffering_adec05ce-1d28-4741-80eb-6262200283d7"></xbrl:campo-captura></td>
            </tr>
            <tr>
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ar_pros_TypeOfInstrument" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="ar_pros_TypeOfInstrument_7594440f-439d-44b2-a005-d921d16205e1"></xbrl:campo-captura></td>
            </tr>
            <tr>
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ar_pros_ForeingIssuer" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="ar_pros_ForeingIssuer_24a5f023-82df-4b7e-a6a4-7c687b53b13f"></xbrl:campo-captura></td>
            </tr>
            <tr>
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ar_pros_MentioningwhetherOrNotHaveCollateral" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="ar_pros_MentioningwhetherOrNotHaveCollateral_53201818-d32f-4217-bcd7-77895197d57d"></xbrl:campo-captura></td>
            </tr>
            <tr>
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ar_pros_MentioningPartialOrTotalDependence" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="ar_pros_MentioningPartialOrTotalDependence_2b9892f4-3cd2-4add-a583-ad1eec87057b" xbrl:ultimo="true"></xbrl:campo-captura></td>
            </tr>
          
        </tbody>
    </table>

   
</xbrl-contenedor-formato>