<xbrl-contenedor-formato xbrl:rol-uri="{{xbrlRol.Uri}}" orientacion="portrait" xbrl:ocultar-titulo-rol="true" modo-vista-formato="{{documentoInstancia.modoVistaFormato}}">

    <br />
    <br />
    <h4>{{xbrlRol.Nombre}}</h4>
    <br />

    <table class="tablaAnchoFijo" cellspacing="5">
        <tbody>

            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ifrs-full_NameOfReportingEntityOrOtherMeansOfIdentification" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="Abba38e92-39d3-43d0-b339-ead90f6d2541"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="mx_ccd_Ticker" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="Aa7979455-3f7f-456d-9c93-a55ae74708bc"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ifrs-full_ExplanationOfChangeInNameOfReportingEntityOrOtherMeansOfIdentificationFromEndOfPrecedingReportingPeriod" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A6c4e5286-27c2-4b32-a42c-8f9bb07612e8"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ifrs-full_DescriptionOfNatureOfFinancialStatements" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A8d6da499-4bad-44d0-91b8-930de559b549"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ifrs-full_DateOfEndOfReportingPeriod2013" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A0292436d-a9e0-4cb5-9650-4f03b0cff99c"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ifrs-full_PeriodCoveredByFinancialStatements" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A1aa1c94d-4ea7-4dd9-8b9a-e4594fd3eb9b"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ifrs-full_DescriptionOfPresentationCurrency" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A6ed5289c-3ca8-47a5-8e4e-271cccfdcca9"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ifrs-full_LevelOfRoundingUsedInFinancialStatements" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A0468a317-1c8e-4690-922d-e06df3d81318"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="mx_ccd_Consolidated" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A8a40a324-b948-4343-b82a-0595f5bd485e"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="mx_ccd_TrusteesAdministratorAvalOrGuarantor" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A47d749c4-32db-4664-88e7-36393f349aa2"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="mx_ccd_TrustNumber" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="true" xbrl:id-hecho-plantilla="Aa8cd0ac6-4f7f-4792-a637-021bd5b798f0"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="mx_ccd_CashFlowStatementForInderectMethod" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura=true" xbrl:id-hecho-plantilla="A54b8ce09-6df1-49a9-be31-c497d577a133"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="mx_ccd_NumberOfQuarter" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="true" xbrl:id-hecho-plantilla="Ac32f48fc-6a05-4640-96fe-04ff002e5966"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="ifrs_mx-cor_20160822_RequiresSubmittingAnnexAA" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="true" xbrl:id-hecho-plantilla="A6bb10c09-b490-4fbf-9f49-5cab9d427007-RequiresSubmittingAnnexAA"></xbrl:campo-captura></td>
            </tr>
            <tr style="height:45px;" ng-if="definicionPlantilla.obtenerVariablePorId('esDictaminado') == 'true'">
                <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="mx_ccd_DateOfOpinionOnTheFinancialStatements" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="Aa34ee647-c5d0-4edf-8fc8-08f7f2b85772"></xbrl:campo-captura></td>
            </tr>
        </tbody>
    </table>



    <table class="tablaAnchoFijo">
        <tbody>
            
            <tr ng-if="definicionPlantilla.obtenerVariablePorId('esDictaminado') == 'true'">
                <td>
                    <div class="etiquetaConceptoTitulo">
                        <b>
                            <xbrl:etiqueta-concepto xbrl:id-concepto="mx_ccd_NameServiceProviderExternalAudit" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto>
                        </b>
                    </div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="Acae53173-d5e1-492b-8002-17392646985c" ></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr ng-if="definicionPlantilla.obtenerVariablePorId('esDictaminado') == 'true'">
                <td>
                    <div class="etiquetaConceptoTitulo">
                        <b>
                            <xbrl:etiqueta-concepto xbrl:id-concepto="mx_ccd_NameOfTheAsociadoSigningOpinion" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto>
                        </b>
                    </div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A76a15bd8-4790-4c37-a687-93140f0d678d"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr ng-if="definicionPlantilla.obtenerVariablePorId('esDictaminado') == 'true'">
                <td>
                    <div class="etiquetaConceptoTitulo">
                        <b>
                            <xbrl:etiqueta-concepto xbrl:id-concepto="mx_ccd_TypeOfOpinionOnTheFinancialStatements" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto>
                        </b>
                    </div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="Accfd3746-5580-4440-a52f-f5ac8a4346ba"></xbrl:campo-captura></div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="etiquetaConceptoTitulo">
                        <b>
                            <xbrl:etiqueta-concepto xbrl:id-concepto="ifrs-full_DisclosureOfGeneralInformationAboutFinancialStatementsExplanatory" xbrl:nivel-indentacion="0"></xbrl:etiqueta-concepto>
                        </b>
                    </div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="{{documentoInstancia.BloquearCamposCaptura}}" xbrl:id-hecho-plantilla="A0299856c-40f3-44ab-9c58-7142794c303f" xbrl:ultimo="true"></xbrl:campo-captura></div>
                </td>
            </tr>

        </tbody>
    </table>
</xbrl-contenedor-formato>