<xbrl-contenedor-formato xbrl:rol-uri="{{xbrlRol.Uri}}" orientacion="landscape" modo-vista-formato="{{documentoInstancia.modoVistaFormato}}">

    <div oc-lazy-load="abaxXBRLEventosRelevantesModule2017">
        <div xbrl:eventos-relevantes>
            <table class="tablaAnchoFijo" cellspacing="5">
                <tbody>
                    <tr>
                        <td style="text-align:left; width:50%;"><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_RelevantEventReportAbstract" xbrl:nivel-indentacion="0" xbrl:style="font-weight:800;"></xbrl:etiqueta-concepto></td>
                        <td style="text-align:left; width:50%; height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_Ticker" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_Ticker_03a4d44f-9d71-47c0-8411-92ca560e31b8"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_Serie" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_Serie_cc6641f1-c35e-42db-a60e-1eeedd7b38cf"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_InstrumetType" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_InstrumetType_2cab43db-4cd3-4530-855a-36345022ee20"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_ParticipantShortName" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_ParticipantShortName_6714e1ca-42d7-426c-a0d6-6d0f0c75ed29"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_Date" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_Date_10275f61-3027-4b43-8530-c31fac4eccda"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_BusinessName" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_BusinessName_42c3bd3b-b0b4-43b5-9728-b5e50a0072ad"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_Place" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_Place_3681d99b-9c07-4825-9836-388fd56c37b0"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_Subject" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_Subject_5f30c2be-670d-400d-b147-0a17fd795838"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_ForeignMarket" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_ForeignMarket_bc6fed41-668f-4d96-999e-e9af71e1ab43"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_AttachedDocumentPdf" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_AttachedDocumentPdf_09bdaf85-989d-4014-ad3d-748b061e8999" xbrl:ultimo="true"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br />
                            <b>    <xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_RelevantEventTypesAxis" xbrl:nivel-indentacion="0" xbrl:ultimo="true" />:</b>
                            <br />

                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <ui-select ng-model="tipoEventoSeleccionado.elemento" theme="select2" title="Tipo de Evento Relevante"
                                       style="min-width: 100%;max-width:100%" ng-change="onChangeTipoEventoPrincipal()" ng-disabled="documentoInstancia.BloquearCamposCaptura">
                                <ui-select-match placeholder="Elija por favor un tipo de evento relevante" allow-clear="false">
                                    {{$select.selected.label}}
                                </ui-select-match>
                                <ui-select-choices group-by="'grupo'" repeat="opcion in tiposEventoPrincipales | filter: $select.search" refresh="refresh($select.search, $select)" refresh-delay="1000">
                                    <div ng-bind-html="opcion.label | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">

                            <div id="detalleTipoEvento" style="display:none">
                                <br />
                                <b>Tipo de evento relevante seleccionado:</b> <br /><xbrl:etiqueta-concepto xbrl:id-concepto="" xbrl:nivel-indentacion="1">
                            </div>



                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="etiquetaConceptoTitulo"><label><b> <xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_RelevantEventContent" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></label><b>:</b></div>
                            <div class="bloqueTexto" id="contenedorCampoContenidoEvento">
                                <xbrl:campo-captura xbrl:id-concepto="rel_news_RelevantEventContent" xbrl:id-contexto="" xbrl:valor-default="" xbrl:crear-hecho="true" xbrl:crear-hecho-dblclick="false"></xbrl:campo-captura>

                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
</xbrl-contenedor-formato>