<xbrl-contenedor-formato xbrl:rol-uri="{{xbrlRol.Uri}}" orientacion="landscape" modo-vista-formato="{{documentoInstancia.modoVistaFormato}}">
    <div oc-lazy-load="abaxXBRLEventosRelevantesModule2017">
        <div xbrl:eventos-relevantes>
            <table class="tablaAnchoFijo" cellspacing="5">
                <tbody>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_RelevantEventReportAbstract" xbrl:nivel-indentacion="0" xbrl:style="font-weight:800;"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_Ticker" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_Ticker_f9c1f87a-4977-4526-bbb2-5bca9ea04a3c"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_Serie" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_Serie_4c124ae2-4244-4bb8-8233-f022b89017ce"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_InstrumetType" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_InstrumetType_ff41b159-4524-40c5-a914-e8a6f583b46a"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_TrustNumber" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_TrustNumber_60bab7c1-1135-483c-89a1-a001c5f44dfb"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_ParticipantShortName" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_ParticipantShortName_34ac38a6-b5b6-481a-b85c-71cc84cc6e75"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_Date" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_Date_b051d48c-7c24-4a6c-8a98-cf6af871e4d2"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_BusinessName" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_BusinessName_89afa7ca-721a-4a3b-a001-6953d286d446"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_Place" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_Place_61348c75-b1dc-4b40-aae0-e48d39979a12"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_Subject" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_Subject_5570ff6f-5abf-4e5d-bbb3-579556fb1995"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_ForeignMarket" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_ForeignMarket_bf1430b3-c2f9-4485-8769-c19c62b136d7"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td style="text-align:left; width:50%;"><b><xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_AttachedDocumentPdf" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></td>
                        <td style="text-align:left; width:50%; height:40px;" class="celdaVacia"><xbrl:campo-captura xbrl:id-hecho-plantilla="rel_news_AttachedDocumentPdf_e083a9f2-d075-499f-868e-fa19c8196a32" xbrl:ultimo="true"></xbrl:campo-captura></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <br />
                            <b>    <xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_RelevantEventTypesAxis" xbrl:nivel-indentacion="0" xbrl:ultimo="true" />:</b>
                            <br />

                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <ui-select ng-model="tipoEventoSeleccionado.elemento" theme="select2" title="Tipo de Evento Relevante"
                                       style="min-width: 100%;max-width:100%" ng-change="onChangeTipoEventoPrincipal()" ng-disabled="documentoInstancia.BloquearCamposCaptura">
                                <ui-select-match placeholder="Elija por favor un tipo de evento relevante" allow-clear="false">
                                    {{$select.selected.label}}
                                </ui-select-match>
                                <ui-select-choices group-by="'grupo'" repeat="opcion in tiposEventoPrincipales | filter: $select.search" refresh="refresh($select.search, $select)" refresh-delay="1000">
                                    <div ng-bind-html="opcion.label | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">

                            <div id="detalleTipoEvento" style="display:none">
                                <br />
                                <b>Tipo de evento relevante seleccionado:</b> <br /><xbrl:etiqueta-concepto xbrl:id-concepto="" xbrl:nivel-indentacion="1">
                            </div>



                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="etiquetaConceptoTitulo"><label><b> <xbrl:etiqueta-concepto xbrl:id-concepto="rel_news_RelevantEventContent" xbrl:nivel-indentacion="1"></xbrl:etiqueta-concepto></b></label><b>:</b></div>
                            <div class="bloqueTexto" id="contenedorCampoContenidoEvento">
                                <xbrl:campo-captura xbrl:id-concepto="rel_news_RelevantEventContent" xbrl:id-contexto="" xbrl:valor-default="" xbrl:crear-hecho="true" xbrl:crear-hecho-dblclick="false"></xbrl:campo-captura>

                            </div>

                        </td>
                    </tr>

                </tbody>
            </table>
            </div>
        </div>
</xbrl-contenedor-formato>