<div bgcolor='#EEE' style='background-color:#eee;padding:30px;font-family:'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;font-size:16px;line-height:1.5em;color:black'>
		<div style='width:640px;margin:auto;display:block'>
			<div style='padding:30px;background-color:#fff;border-radius:3px;border:1px solid #ccc'>
                <img src="cid:imagenAbax" border="0" />
                <br/><br/><br/>
				<p style='font-family:'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;font-size:16px;line-height:1.5em;color:black;margin-top:100px'>Estimado Usuario</p>
				<p style='font-family:'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;font-size:16px;line-height:1.5em;color:black'>Ha solicitado su contraseña desde la aplicación Abax-XBRL.</p>
				<p style='font-family:'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;font-size:16px;line-height:1.5em;color:black'><strong>Nombre:</strong>&nbsp; @Model.Nombre</p>
                <p style='font-family:'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;font-size:16px;line-height:1.5em;color:black'><strong>Correo Electr&oacute;nico:</strong>&nbsp;&nbsp;&nbsp;  @Model.CorreoElectronico</p>
               
                <p style='font-family:'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;font-size:16px;line-height:1.5em;color:black'><strong>Password:</strong>&nbsp;&nbsp;&nbsp;&nbsp; @Model.Password</p>

                <p style='font-family:'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;font-size:16px;line-height:1.5em;color:black'>Saludos cordiales.</p>
                <p style='font-family:'Lucida Grande',Helvetica,Arial,Verdana,sans-serif;font-size:16px;line-height:1.5em;color:black'>Abax-XBRL</p>			

				<div>
                    <div class='yj6qo'></div><div class='adL'>
				</div></div><div class='adL'>
			</div></div><div class='adL'>
		</div></div><div class='adL'>
	</div></div>