<xbrl-contenedor-formato xbrl:rol-uri="{{xbrlRol.Uri}}" orientacion="portrait" modo-vista-formato="{{documentoInstancia.modoVistaFormato}}">
    <table class="tablaAnchoFijo">
        <!--<thead>
            <tr>
                <th style="min-width: 230px; width:50%;">
                    Trimestre A&ntilde;o Actual<br />
                    {{ ::definicionPlantilla.obtenerVariablePorId("medida_MXN_sin_contexto")}}<br />
                    {{ ::definicionPlantilla.obtenerVariablePorId("fecha_2015_07_01")}} - {{ ::definicionPlantilla.obtenerVariablePorId("fecha_2015_09_30")}}
                </th>
            </tr>
        </thead>-->
        <tbody>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DisclosureOfSummaryOfSignificantAccountingPoliciesExplanatory" xbrl:nivel-indentacion="0"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ad72c522e-d186-4035-bd30-27ed3c32afe3"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForAvailableforsaleFinancialAssetsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Aff316f82-c86d-42ca-8965-4cc198e661dc"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForBiologicalAssetsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A2b6094b0-cd38-40e9-976e-22ebfb95ed9c"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForBorrowingCostsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A9882be40-baa4-4f00-88ee-d894801712d6"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForBorrowingsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A3bcaec65-9663-4e52-b2a4-a31ca7c5dc09"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForBusinessCombinationsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A24c9f492-5088-4492-a31d-6d5e9b8b34ab"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForBusinessCombinationsAndGoodwillExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Aa6ba6a2e-ab75-487c-b3da-f663587e4695"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForCashFlowsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A696343ce-b44f-4067-853a-523da9be0909"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForCollateralExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ae0670c64-d15d-4a21-9423-7a23fa9a399d"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForConstructionInProgressExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ac884ba67-e2db-4690-bafd-e909f4d9916c"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForCustomerAcquisitionCostsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ac33e9fc0-c66e-4a18-81fd-aeca0ab8ceb0"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForDecommissioningRestorationAndRehabilitationProvisionsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ad72db23f-7960-4c84-b766-a32c85f986ec"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForDeferredAcquisitionCostsArisingFromInsuranceContractsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ae25e111e-3aa3-4c29-ba3f-6a7ad05205a3"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForDepreciationExpenseExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ad4388b4b-7c68-4975-aa2f-c3e52bf9d97d"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForDerecognitionOfFinancialInstrumentsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A08b6e1e9-0262-4557-8e8b-4bc64388b5e7"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForDerivativeFinancialInstrumentsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A14f0c3a6-f223-47c4-8f9a-e24b9556789c"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForDerivativeFinancialInstrumentsAndHedgingExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A8c7dfa8a-17c7-44aa-a7fb-38217da82927"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyToDetermineComponentsOfCashAndCashEquivalents" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ad47d5ef1-9a63-4364-9c45-ec2bd550234a"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForDiscontinuedOperationsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A6121eac4-56aa-4a07-9dec-31dbfa353c12"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForDividendsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A38c874ee-3120-4e2d-8392-8234b58bc3f0"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForEarningsPerShareExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Aaf6c4c53-2987-4eec-94f0-daf53b72a7b9"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForEmployeeBenefitsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A52fcbe9c-8917-42cb-81f3-e2355577960d"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForEnvironmentRelatedExpenseExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Aaa1c7e16-1087-43b6-b51d-77e1932f9b2e"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForExpensesExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A7ada6047-768d-477e-914f-051b2fde8bfa"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForExplorationAndEvaluationExpenditures" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Aad11240e-a1fa-47d9-b5dd-abaecb73b786"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForFairValueMeasurementExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A70745b1a-7d89-40d0-b0f8-983b613225ff"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForFeeAndCommissionIncomeAndExpenseExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ae9c29bad-d76d-4998-9944-93d5a072d943"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForFinanceCostsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Aa4300335-482e-4129-8d74-08de17b96d3c"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForFinanceIncomeAndCostsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ad41ca42d-1ad9-4f95-b741-566cb55937b9"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForFinancialAssetsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A9fe5da66-fe0d-4405-a91a-a7aeabd5ac45"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForFinancialGuaranteesExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Aba7b1474-d220-4681-b50d-fdaae2714297"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForFinancialInstrumentsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A26b38dbb-22c8-4eea-bcf2-c1a9d9d92b2e"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForFinancialInstrumentsAtFairValueThroughProfitOrLossExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Afd342727-c9c1-4278-b901-5261abfa87b4"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForFinancialLiabilitiesExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ae7aa4c71-8385-45c2-8884-576040ee9e4c"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForForeignCurrencyTranslationExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Aa8069a86-7825-4fdd-a347-6a4b5b11eda8"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForFunctionalCurrencyExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A9ab70946-c1c4-4f43-b3be-f631ce130e36"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForGoodwillExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Add478674-992b-4c6d-a9a7-bcc8ee9ce124"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForGovernmentGrants" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Afc4599e7-681f-4b38-9858-19f95ab04525"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForHedgingExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Af6b0b457-2766-4c69-abd6-193fb4eb6f43"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForHeldtomaturityInvestmentsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A8d6abadd-43f2-4577-852a-ea87a1722cec"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForImpairmentOfAssetsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ae89a9bd2-bd41-41ce-b0e7-985a95450875"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForImpairmentOfFinancialAssetsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A5c742c3e-17b3-4928-9b2a-ab35bd86162f"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForImpairmentOfNonfinancialAssetsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ac862acc1-17d2-4a58-9eaa-22537b172e40"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForIncomeTaxExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A2a330b1e-0f86-442a-8db0-16a07e6391df"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForInsuranceContracts" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ad5a592ed-9e31-48b3-9287-522e79189896"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForIntangibleAssetsAndGoodwillExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A934482cb-a45d-405f-9ebe-42a0c7364929"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForIntangibleAssetsOtherThanGoodwillExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A520f7797-26a4-46a1-b7fd-8b910ccde63a"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForInterestIncomeAndExpenseExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A4022f1d4-aff8-455b-b8c5-26363fbb9298"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForInvestmentInAssociates" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A431e6363-fc58-4492-abfa-b70b9ff0778f"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForInvestmentInAssociatesAndJointVenturesExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A139a0394-f54c-4a76-94b2-e0d9f18d3ac3"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForInvestmentsInJointVentures" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A5d2d9950-a372-4d0e-baf2-8e7528da6372"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForInvestmentPropertyExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Aa5696cc2-6b1e-4fc9-acc6-f88c2200f897"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForInvestmentsOtherThanInvestmentsAccountedForUsingEquityMethodExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A54344910-8f0b-4cdb-a2ff-cc04b8449b9f"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForIssuedCapitalExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Abb36a946-f148-4198-9d43-351fc4cf87bb"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForLeasesExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A2f376e3e-f033-4c0f-a78a-06323cf72fa4"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForLoansAndReceivablesExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ab3d899a9-256c-4c04-a4f0-a5cdb2ce93a8"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForMeasuringInventories" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A31fb4d15-6dca-49d0-ad25-ef4a081bd47d"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForMiningAssetsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ab2626559-bf4d-48e8-bd81-3771b96ef417"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForMiningRightsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Aa6a01fc4-7492-4902-a99b-a4239f942041"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForNoncurrentAssetsOrDisposalGroupsClassifiedAsHeldForSaleExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A5df16333-79e7-444e-8406-b446fbfb53b5"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForNoncurrentAssetsOrDisposalGroupsClassifiedAsHeldForSaleAndDiscontinuedOperationsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A9f8cb41a-bc1e-4d82-9719-8ab85eb18465"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForOffsettingOfFinancialInstrumentsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A8e7cd065-e56a-4768-bcb5-7abb7de447be"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForOilAndGasAssetsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A89b4dd28-160a-4962-8d76-57ee47f115f3"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForPropertyPlantAndEquipmentExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Aeaa1819b-9930-42d3-b52e-19555291b4fc"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForProvisionsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Afca0051b-860a-4c45-b182-1c9f2e07d387"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForReclassificationOfFinancialInstrumentsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A7ba84652-3ea7-4aca-bb3a-21b7180c4d8d"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForRecognisingDifferenceBetweenFairValueAtInitialRecognitionAndAmountDeterminedUsingValuationTechniqueExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A70edae58-b011-4d21-afcd-98bea1425cc5"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForRecognitionOfRevenue" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A64f5363e-220f-41b7-898f-0a43fde17670"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForReinsuranceExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A916c1cd7-a4c3-4e2e-a897-137bd96c07a2"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForRepurchaseAndReverseRepurchaseAgreementsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A310a8c19-b441-4ba5-afaf-d077f32bd14c"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForResearchAndDevelopmentExpenseExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Aab1617ab-93df-49bc-a268-3be9b7b20a4e"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForRestrictedCashAndCashEquivalentsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Acfeefb75-d58a-468e-a1cd-c4120a945f8f"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForSegmentReportingExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Acb6a6e11-60be-4d2b-b8d1-087f8728662e"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForSharebasedPaymentTransactionsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A98287311-0cce-47a8-81e8-68129a4b82f4"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForStrippingCostsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A53f68dbe-f204-4e84-a7e9-f407192ef262"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForSubsidiariesExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Accc0d095-4019-4321-bbc0-af81c5555c3f"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForTerminationBenefits" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A2200d82a-5f93-44e0-a164-82356ca17399"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForTradeAndOtherPayablesExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A91f46a25-c897-4244-85c6-3557acb39604"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForTradeAndOtherReceivablesExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A878a8e24-c406-44b2-8b99-20bd9d82217b"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForTradingIncomeAndExpenseExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A871d5e32-47b4-4f35-9af5-4c00b4655ee5"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForTransactionsWithNoncontrollingInterestsExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A1548e53c-9f1c-41b8-a98c-b6b7a1434d6f"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForTransactionsWithRelatedPartiesExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A38386a7c-c18f-476c-afb9-f79c1e0a20e2"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfAccountingPolicyForTreasurySharesExplanatory" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A705dde27-fa20-4a5b-b6c2-b840ceba129e"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs-full_DescriptionOfOtherAccountingPoliciesRelevantToUnderstandingOfFinancialStatements" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="Ae43aad04-38a6-4d34-8aea-497dc73fd6c0" xbrl:ultimo="true"></xbrl:campo-captura></div>
                </td>
            </tr>
        </tbody>
    </table>
</xbrl-contenedor-formato>