<xbrl-contenedor-formato xbrl:rol-uri="{{xbrlRol.Uri}}" orientacion="portrait" modo-vista-formato="{{documentoInstancia.modoVistaFormato}}">
    <table class="tablaAnchoFijo">
       
        <tbody>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_DiscusionDeLaAdministracionSobreLasPoliticasDeUsoDeInstrumentosFinancierosDerivadosExplicandoSiDichasPoliticasPermitenQueSeanUtilizadosUnicamenteConFinesDeCoberturaOConOtroFinesTalesComoNegociacionBloqueDeTexto" xbrl:nivel-indentacion="1"></b></div>
                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A75775caf-f939-4670-83f4-1a8fb9f31af0"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_DescripcionGenericaSobreLasTecnicasDeValuacionDistinguiendoLosInstrumentosQueSeanValuadosACostoOAValorRazonableAsiComoLosMetodosYTecnicasDeValuacionBloqueDeTexto" xbrl:nivel-indentacion="1"></b></div>

                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A6e95836f-7bdc-4bdb-a8f4-577dc2319d1b"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_DiscusionDeLaAdministracionSobreLasFuentesInternasYExternasDeLiquidezQuePudieranSerUtilizadasParaAtenderRequerimientosRelacionadosConInstrumentosFinancierosDerivadosBloqueDeTexto" xbrl:nivel-indentacion="1"></b></div>

                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A4914aa6c-20ba-4893-9e3d-de6f86e99b9a"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_ExplicacionDeLosCambiosEnLaExposicionALosPrincipalesRiesgosIdentificadosYEnLaAdministracionDeLosMismosAsiComoContingenciasYEventosConocidosOEsperadosPorLaAdministracionQuePuedanAfectarEnLosFuturosReportesBloqueDeTexto" xbrl:nivel-indentacion="1"></b></div>

                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A9d4c7ab9-df5e-4e79-912c-db5849954f7a"></xbrl:campo-captura></div>
                </td>
            </tr>
            <tr xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}">
                <td>
                    <div class="etiquetaConceptoTitulo"><b><xbrl:etiqueta-concepto xbrl:idioma="{{documentoInstancia.xbrlIdioma.ClaveIdioma}}" xbrl:id-concepto="ifrs_mx-cor_20141205_InformacionCuantitativaARevelarBloqueDeTexto" xbrl:nivel-indentacion="1"></b></div>

                    <div class="bloqueTexto"><xbrl:campo-captura xbrl:solo-lectura="documentoInstancia.BloquearCamposCaptura" xbrl:id-hecho-plantilla="A67b319d5-5e6f-4b89-86fa-ec50eca1d92e" xbrl:ultimo="true"></xbrl:campo-captura></div>
                </td>
            </tr>
        </tbody>
    </table>
</xbrl-contenedor-formato>